@CHARSET "UTF-8";
body{
	background:url('../img/bck.jpg');
}

#pere{
	width:960px;
	height:800px;
	margin:auto;
}

#login_connect{
	width:300px;
	height:300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:rgba(255, 255, 255, 0.3);
	margin:100px auto 0 auto;
}
#logo_connect{
	width:359px;
	height:93px;
	margin-left:25px;
	background:url('../img/logo.png');
}
#login_connect form{
	width:300px;
	margin:20px 0 0 0;
}
#login_connect form input{
	width:200px;
	height:30px;
	margin:15px 0 0 45px;
}



#header{
	height:93px;
}
#logo{
	width:359px;
	height:93px;
	background:url('../img/logo.png');
	margin:0 0 0 50px;
	float:left;
}
#connect{
	width:200px;
	height:70px;
	background:#FFF;
	opacity:0.5;
	float:right;
	margin:10px 50px 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#connect p{
	margin:3px 0 0 10px;
}

#footer{
	height:175px;
	background:url('../img/footer.png') no-repeat center;
}